<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <h3>{{ titulo }} 
                        <div *ngIf="loading" class="spinner-grow text-dark float-end" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </h3>
                    <span *ngIf="submitted && createVino.invalid" class="badge rounded-pill bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="createVino" (ngSubmit)="agregarEditarVino()" >
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="variedad" placeholder="Variedad">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-lg" formControlName="cosecha" placeholder="Cosecha">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-3" formControlName="linea" placeholder="Línea">
                        <div class="row mt-3">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="codigo" placeholder="Código">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control form-control-lg" formControlName="precio" placeholder="Precio">
                            </div>
                            <div class="mt-3" style="text-align: center;">
                                <button type="text" class="btn btn-dark btn-lg me-md-3"routerLink="/list-vinos" >Volver</button>
                                <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>